SERVER_NAME=localhost
HTTP_PORT=80
HTTPS_PORT=443
MYSQL_VERSION=8.0
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=db
XDEBUG_MODE=debug

COMPOSE_PROJECT_NAME=api

APP_ENV=
APP_SECRET=
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost

DATABASE_URL="mysql://user:password@database:3306/db?serverVersion=8&charset=utf8mb4"

CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
